/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }
  img {
    width: 300px;
  }
  a {
    color: lime;
  }
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 100px;
    line-height: 1;
  }
  h2 {
    font-size: 45px;
  }
  h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
  }

  .content-wrap-1{ 
      width: 800px; 
      margin: 0 auto; 
      padding: 50px 10px 0; }

  .content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
  }
  
  
  
  /* Profile
  ------------------------------------*/
  header {
    background: #2F3061;
    color: #F7FFF7;
  }
  
  
  /* Projects
  ------------------------------------*/
  .projects {
    background: #F7FFF7;
  }
  .projects a {
    color: #2F3061;
  }
  .projects .btn {
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
  }
  .projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
  }
  .project-item {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .project-item h3 {
    margin-top: 0;
  }
  
  
  /* Work Experience
  ------------------------------------*/
  .working {
    background: #A1C6D7;
  }

  .job-item{
      display: grid;
      grid-template-columns: 1fr 2fr;
  }


        /* Education
    -------------------------------
    */

    .education{
        background: darksalmon;
    }
    

        /* Contact Info
    -------------------------------
    */

    footer{
        background: #343434 ;
        color: #F7FFF7;
        text-align: center;
    }

.contact-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.contact-list a {

    padding: 15px;
    display: inline-block;
}

    *{
        /* outline: 1px solid red; */
    }